[General]

## ==== API Realted ==== ##
API_KEY = 
QA = 

## ==== PYTEST Files Related ==== ##
# Path where the pytest files are located (usually a folder or file prefix)
PYTEST_FILE_PATH = /Users/qadf_at/Desktop/AT/PDRMac_BFT_reportportal/SFT
# Name of the pytest file
PYTEST_FILE_NAME = test_BFT_PDR23_stage1_reportportal_aiagent_testing.py
PYTEST_TEMPLATE_NAME = test_BFT_PDR23_stage1_template.py

## ==== Execute PYTEST Related ==== ##
# Path to store logs generated during pytest execution
PYTEST_LOG_PATH = /Users/qadf_at/Desktop/AT/PDRMac_BFT_reportportal/pytest.log
# Path to store the JSON file containing the reformatted log data
PYTEST_LOG_JSON_PATH = /Users/qadf_at/Desktop/AT/PDRMac_BFT_reportportal/_Database/pytest_log.json

## ==== TEST CASE Related ==== ##
# Directory for test case files
TEST_CASE_PATH = /Users/qadf_at/Desktop/AT/AIAgent_Testcase_Testing
# Path to store the JSON file with formatted test case information
TEST_CASE_JSON_PATH = /Users/qadf_at/Desktop/AT/AIAgentSystem/_Database/test_cases_code.json
# Path to the FAISS index file for test case vectors
TEST_CASE_FAISS_PATH = /Users/qadf_at/Desktop/AT/AIAgentSystem/_Database/test_cases_code.faiss


## ==== PAGE Functions Related ==== ##
# Directory for page functions, containing related scripts or resources
PAGE_FUNCTIONS_PATH = /Users/qadf_at/Desktop/AT/PDRMac_BFT_reportportal/pages
# Path to store the JSON file with formatted page functions information
PAGE_FUNCTIONS_JSON_PATH = /Users/qadf_at/Desktop/AT/AIAgentSystem/_Database/page_functions.json
# Path to store the JSON file with the filtered page functions information
PAGE_FUNCTIONS_FILTERED_JSON_PATH = /Users/qadf_at/Desktop/AT/AIAgentSystem/_Database/page_functions_filtered.json
# Path to the FAISS index file for page functions vectors
PAGE_FUNCTIONS_FAISS_PATH = /Users/qadf_at/Desktop/AT/AIAgentSystem/_Database/page_functions_filtered.faiss

## ==== Refactor Related ==== ##
# Path to store the refactored test case file
SAVE_REFACTOR_TEST_CASE_PATH = 

## ==== Error Conditions ====##
AP_ErrorReasons = Locator change;
    No response after an action;
    Image comparison result is really not as expected;
    UI flow change

AT_ErrorReasons = Incorrect locator provided;
    Action executed before the previous step is complete;
    Image comparison similarity threshold set too high or too low;
    Incorrect order of test case steps;
    Interference from an upper dialog box;
    Incorrect verify value


## ==== Help Related ==== ##
SAVE_HTML_PAGE_FOLDER = E:\Debby\9_Scripts\AIAgentSystem\_Database\Help\Raw_Help
SAVE_JSON_PAGE_FOLDER = E:\Debby\9_Scripts\AIAgentSystem\_Database\Help\ConvertJsonFiles
SAVE_FULL_HELP_JSON_FILE_NAME = E:\Debby\9_Scripts\AIAgentSystem\_Database\full_help_content.json

## ==== Generated Result ==== ##
TEMP_GENERATED_TEST_STEPS = E:\Debby\9_Scripts\AIAgentSystem\_Database\temp_generated_test_steps.json
TEMP_EXTRACTED_PAGE_FUNCTION = E:\Debby\9_Scripts\AIAgentSystem\_Database\temp_extracted_page_function.json
